.basket{
  width: 30%;
}
.basketTile{
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  padding: 20px;
  border-radius: 2px;
  &__img{
    flex: 3;
    img{
      width: 50px;
      height: 50px;
      border-radius: 4px;
    }
  }
  &__name{
    display: flex;
    flex: 3;
    flex-direction: column;
    img{
      width: 50px;
      height: 20px;
    }
  }
  &__price{
    position: relative;
    flex: 2;
    &--barred:before{
      position: absolute;
      content: "";
      left: 0%;
      top: 20%;
      right: 30%;
      border-top: 1px solid;
      border-color: inherit;
      transform:rotate(-5deg);
    }
  }
  &__quantity{
    flex: 2;
  }
  &__remove{
    display: flex;
    flex: 1;
    cursor: pointer;
    img{
      width: 20px;
      height: 20px
    }
  }

}
