@import './home';
@import './product';
@import './basket';

body{
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/playstation-pattern.png');
  font-family: 'Roboto Condensed', 'sans-serif';
  
  @media screen and (max-width: 500px){
      font-size: 12px;
  }
}
