.productList{
  width: 30%;
}

.productTile{
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  padding: 20px;
  border-radius: 2px;

  &__name{
    flex: 2;
  }
  &__price{
    flex: 1;
  }
  &__quantity{
    display: flex;
    align-items: center;
    flex: 1;
    img{
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }
  &__buy{
    display: flex;
    flex: 1;
    cursor: pointer;
    img{
      width: 20px;
      height: 20px;
    }
    transition: all .2s;
  }
  &__buy:hover{
    //transform: scale(1.3);
  }

}
